* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: white;
    overflow: hidden;
}

.menu-button {
  position: fixed;
  left: 10px; /* Позиция кнопки */
  top: 10px;  /* Позиция кнопки */
  font-size: 30px; /* Размер шрифта для кнопки */
  color: rgb(199, 36, 36); /* Цвет текста */
  cursor: pointer; /* Курсор при наведении */
  transition: opacity 0.3s ease; /* Плавный переход opacity */
  z-index: 1000; /* Чтобы кнопка была на переднем плане */
}

.menu-button:hover {
  opacity: 0.5; /* Затухание при наведении */
}

.menu {
  position: fixed;
  top: 0;
  left: -200px; /* Исходное положение вне экрана */
  width: 200px; /* Ширина меню */
  height: 100%; /* Высота меню */
  background-color: #333333; /* Цвет фона меню */
  transition: left 0.3s ease; /* Плавный переход при открытии/закрытии */
  z-index: 999; /* На фоне контента */
}

.menu.active {
  left: 0; /* Положение при открытии меню */
}

.menu ul {
  padding-top: 50px; /* Добавляем отступ сверху, чтобы опустить меню вниз */
  list-style: none; /* Убираем маркеры списка */
  margin: 10;
  padding: 50;
}

.menu a {
  display: block; /* чтобы ссылки занимали всю ширину кнопки */
  padding: 15px 20px; /* внутренние отступы */
  background-color: #444; /* цвет фона кнопок */
  border-radius: 4px; /* закругление углов */
  color: white; /* цвет текста */
  text-decoration: none; /* убираем подчеркивание текста */
  transition: background-color 0.3s, transform 0.3s; /* плавный переход для фона и трансформации */
}

.menu a:hover {
  background-color: #555; /* цвет фона при наведении */
  transform: scale(1.05); /* увеличение кнопки при наведении */
}

.menu li {
  margin: 10px 0; /* разделяем элементы внутри меню */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.centered-content {
    text-align: center;
    position: relative;
    z-index: 10; 
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1); 
}

.photo {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 40, 40, 0.8);
}

.photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.description {
    margin-top: 20px;
    display: flexbox;
}

.tech-stack {
  display: flexbox; /* Применяем flexbox */
  flex-wrap: wrap; /* Делаем так, чтобы элементы переносились на следующую строку */
  gap: 10px; /* Расстояние между элементами */
  margin-top: 20px; /* Отступ сверху */
}

.tech {
    display: block;
    background: #ff1d1db9;
    border-radius: 5px; 
    padding: 5px 10px;
    margin: 5px;
}




.project {
  padding: 15px;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.2);
  margin-bottom: 15px;
  transition: background 0.3s ease;
}

.project:hover {
  background: rgb(224, 139, 139);
}


.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 44, 52, 0.9); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #ff1d1db9; 
  border-radius: 50%;
  width: 60px; 
  height: 60px; 
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.projects {
  margin-top: 20px;
}

.project {
  padding: 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
  transition: background 0.3s ease;
}

.project:hover {
  background: rgba(255, 255, 255, 0.2);
}

.project h2 {
  margin-bottom: 10px;
}

.project p {
  margin: 0;
}


.contacts {
  display: flex;
  flex-direction: column;
  align-items: none;
  margin-top: 50px;
}

.contact-button {
  display: bl;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 5px;
  background-color: #2196F3; 
  color: white; 
  text-decoration: none; 
  font-size: 18px; 
  transition: background-color 0.3s, transform 0.3s;
}

.contact-button:hover {
  background-color: #1976D2; 
  transform: scale(1.05); 
}